# Terraform runtime
.terraform/
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info

# planes
tfplan*
*.plan

# IDE/OS
.vscode/
.DS_Store

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore plan files
*.tfplan
tfplan-*

# Ignore lock files (opcional, algunos prefieren commitearlo)
 .terraform.lock.hcl

# Ignore direnv files
.envrc

# Ignore backup files
*.backup

# Ignore temporary files
*.tmp